
@model PagedList.IPagedList<AmanatakBLL.Models.ItemType>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />








@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                
              
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
             
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                  
                    <header>
                        <span class="widget-icon"> <i class="fa fa-th-list"></i> </span>
                        <h2>Index</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                      
                        <div class="widget-body no-padding">

                            <div class="dt-toolbar">
                                <div class="col-xs-12 col-sm-6">

  @using (Html.BeginForm("Index", "ItemType", FormMethod.Get))
                                    {
                                  

                                    <div class="form-inline" >
                                        <div class="input-group ">



                                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                            <div class="icon-addon ">
                                                
                                                @Html.TextBox("searchString",ViewBag.CurrentFilter as string, new { @class = "form-control ",placeholder = "كلمة للبحث" })


                                            </div>
                                            <span class="input-group-btn">
                                                <button type="submit" value="Search" class="btn btn-default"><span><i class="fa fa-search"></i> "بحث"</span></button>
                                            </span>

                                        </div>

                                    </div> 
                                    }
                                </div>

                            </div>
                            <div class="dt-toolbar">
                                <div class="col-xs-12 col-sm-6">
                                    <div id="datatable_tabletools_filter" class="dataTables_filter">
                                        <ul class="list-inline table-buttons">

                                            <li><a href="@Url.Action("Create")" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="fa fa-plus"></i></span> "إضافة جديد" </a></li>


                                        </ul>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div id="datatable_tabletools_filter" class="dataTables_filter">
                                        @*<ul class="list-inline table-buttons">
                                            <li>
                                                <a href="javascript:void(0);" class="btn btn-labeled btn-success"> <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Activate </a>
                                            </li>

                                            <li><a href="javascript:void(0);" class="btn btn-labeled btn-danger"> <span class="btn-label"><i class="glyphicon glyphicon-thumbs-down"></i></span>Deactivate </a></li>
                                            <li>
                                                <div class="btn-group">

                                                    <div class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tasks"></span>&emsp; Actions &emsp;</div>
                                                    <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="@Url.Action("")"> More Actions</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="btn btn-primary"><i class="fa fa-refresh fa-lg"></i></a>
                                            </li>

                                        </ul>*@

                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">


                                <table class="table table-bordered table-striped table-condensed table-hover dataTable">
                                    <thead>
                                        <tr>
                                            @*<th class="smart-form has-tickbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline">
                                                    <i></i>
                                                </label>
                                            </th>*@
        <th>
             @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().DateCreated)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().UserCreated)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().DateModified)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().UserModified)
        </th>
        <th></th>
    </tr>
                                    </thead>
                                    <tbody>

@foreach (var item in Model) {
    <tr>
     @*<td class="smart-form has-tickbox">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline">
                                                        <i></i>
                                                    </label>
                                                </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserModified)
        </td>
        <td>

  <ul class="list-inline table-buttons">
                                                        
                                                        <li><a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-sm btn-default"> <span class="fa fa-eye"></span> تفاصيل </a></li>
                                                        <li><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> تعديل</a></li>
                                                        @*<li><a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger"><span class="fa fa-minus"></span> حذف</a></li>*@

                                                        @*<li>
                                                            <div class="btn-group">

                                                                <div class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tasks"></span>&emsp; Actions &emsp;</div>
                                                                <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li>
                                                                        <a href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </li>*@
                                                    </ul>
        </td>
    </tr>
}
</tbody>
</table>

                            </div>
                            <div class="dt-toolbar-footer">
                                <div class="col-sm-6 col-xs-12 hidden-xs">
                                    <div class="dataTables_info" id="datatable_col_reorder_info" role="status" aria-live="polite">
                                        Page <span class="txt-color-darken">@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</span>
                                        of <span class="text-primary">@Model.PageCount</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_col_reorder_paginate">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->









